body {
  font-family: $ff-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff00ff;
}

body.home {
	background: #e6fff7;
}

body.about {
	background: #e6ffe6;
}

.hector {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit:cover;
}
